@font-face{
    font-family: main-font;
    src: url("../pomo/assets/fonts/LiberationMono-Bold.ttf");

}
:root{
    --main-text-color: #97AF9A;
    --fill-color: #050f1b;
    --secondary-text-color: #F8F7F1;
}
